n8n-automations/Backup all Workflows.json
[{"createdAt":"2025-08-01T17:21:28.360Z","updatedAt":"2025-08-20T10:08:45.109Z","id":"2elxjUkKdmY3gM5M","name":"Backup all Workflows","active":true,"isArchived":false,"nodes":[{"parameters":{"options":{"reset":false}},"id":"2c663666-9fd9-4312-a92c-3cfbe69d381b","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[1920,80],"typeVersion":3},{"parameters":{"rule":{"interval":[{"triggerAtHour":9}]}},"id":"cffa768c-79fd-4acb-9a5d-d97a98cf5786","name":"Every Day","type":"n8n-nodes-base.scheduleTrigger","position":[784,256],"typeVersion":1.2},{"parameters":{"resource":"folder","name":"=n8n-Workflow-Backups-{{ $json.datetime }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"list","value":"root","cachedResultName":"/ (Root folder)"},"options":{}},"id":"041d843d-6a78-471e-bc95-d2e80e778f20","name":"Create Folder with DateTime Stamp","type":"n8n-nodes-base.googleDrive","position":[1232,256],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"8pgOGxxZW5KonzwV","name":"Google Drive account"}}},{"parameters":{"assignments":{"assignments":[{"id":"2589e80c-e8c3-4872-bd7a-d3e92f4a6ab7","name":"datetime","type":"string","value":"={{ $now }}"}]},"options":{}},"id":"885cb7f7-495b-4ef2-b586-3f6ea9718446","name":"Get DateTIme","type":"n8n-nodes-base.set","position":[1008,256],"typeVersion":3.4},{"parameters":{"filters":{},"requestOptions":{}},"id":"d04d43ed-fd73-4c2c-87e7-72a453005268","name":"Get Workflows","type":"n8n-nodes-base.n8n","position":[1456,256],"typeVersion":1,"credentials":{"n8nApi":{"id":"g5uTgP3BrXcBEH3X","name":"n8n account"}}},{"parameters":{"maxItems":200},"id":"93a09d40-11ba-4b90-a27b-80d6f35cec70","name":"Limit to 200","type":"n8n-nodes-base.limit","position":[1680,256],"typeVersion":1},{"parameters":{"operation":"toJson","options":{"fileName":"={{ $json.name }}"}},"id":"2fed9f7e-115a-40d0-a153-40ab05161406","name":"Convert Workflow to JSON File","type":"n8n-nodes-base.convertToFile","position":[2128,64],"typeVersion":1.1},{"parameters":{"name":"={{ $binary.data.fileName }}.json","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"id","value":"={{ $('Create Folder with DateTime Stamp').item.json.id }}"},"options":{}},"id":"8b471a04-223f-4561-864f-74481371c7c0","name":"Save JSON File to Google Drive Folder","type":"n8n-nodes-base.googleDrive","position":[2352,64],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"8pgOGxxZW5KonzwV","name":"Google Drive account"}}},{"parameters":{},"id":"ea8654bc-0b7a-40be-8b82-8a4dc42b49aa","name":"Execute Once","type":"n8n-nodes-base.noOp","position":[2128,352],"executeOnce":true,"typeVersion":1},{"parameters":{"resource":"fileFolder","queryString":"n8n-Workflow-Backups","limit":10,"filter":{"whatToSearch":"folders"},"options":{}},"id":"7a3be4e3-b320-4c51-9498-4d1cb2abbb0f","name":"Search Folder Names","type":"n8n-nodes-base.googleDrive","position":[2352,352],"executeOnce":true,"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"8pgOGxxZW5KonzwV","name":"Google Drive account"}}},{"parameters":{"resource":"folder","operation":"deleteFolder","folderNoRootId":{"__rl":true,"mode":"id","value":"={{ $json.id }}"},"options":{"deletePermanently":true}},"id":"14f76fa4-86bf-4f95-a4ce-ad0d05d7b166","name":"Delete Folders","type":"n8n-nodes-base.googleDrive","position":[2800,352],"typeVersion":3,"alwaysOutputData":true,"credentials":{"googleDriveOAuth2Api":{"id":"8pgOGxxZW5KonzwV","name":"Google Drive account"}},"onError":"continueRegularOutput"},{"parameters":{"chatId":"5030150","text":"={{ $now }}\nWorkflows Backup Complete\n{{ $('Create Folder with DateTime Stamp').item.json.name }}\nhttps://drive.google.com/drive/folders/{{ $('Create Folder with DateTime Stamp').item.json.id }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"id":"db344a9e-edfd-4d06-8e9a-4507e2bac3de","name":"Complete Message","type":"n8n-nodes-base.telegram","position":[2352,544],"webhookId":"382a3b43-b83f-47b1-a276-67c6b98a441a","typeVersion":1.2,"credentials":{"telegramApi":{"id":"XK9zk50ZyqQCt9D6","name":"Rocco"}}},{"parameters":{"jsCode":"// Get all input items and sort by name in descending order\nconst sortedItems = $input.all().sort((a, b) => {\n  if (!a.name || !b.name) return 0;\n  return b.name.localeCompare(a.name);\n});\n\n// Get items older than 7 days\nconst olderItems = sortedItems.slice(7);\n\nreturn olderItems\n\n"},"id":"2527f915-5659-4ae5-a3ee-3e31652829dc","name":"Find Folders to Delete","type":"n8n-nodes-base.code","position":[2576,352],"typeVersion":2},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[864,464],"id":"434cf7af-56df-4909-8467-f90fb1154524","name":"When clicking ‘Execute workflow’"}],"connections":{"Every Day":{"main":[[{"node":"Get DateTIme","type":"main","index":0}]]},"Execute Once":{"main":[[{"node":"Search Folder Names","type":"main","index":0},{"node":"Complete Message","type":"main","index":0}]]},"Get DateTIme":{"main":[[{"node":"Create Folder with DateTime Stamp","type":"main","index":0}]]},"Limit to 200":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Get Workflows":{"main":[[{"node":"Limit to 200","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Execute Once","type":"main","index":0}],[{"node":"Convert Workflow to JSON File","type":"main","index":0}]]},"Search Folder Names":{"main":[[{"node":"Find Folders to Delete","type":"main","index":0}]]},"Find Folders to Delete":{"main":[[{"node":"Delete Folders","type":"main","index":0}]]},"Convert Workflow to JSON File":{"main":[[{"node":"Save JSON File to Google Drive Folder","type":"main","index":0}]]},"Create Folder with DateTime Stamp":{"main":[[{"node":"Get Workflows","type":"main","index":0}]]},"Save JSON File to Google Drive Folder":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Get DateTIme","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Europe/Berlin","callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Every Day":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ae9302ac-e6c5-4de0-aaf9-1de268d180fb","triggerCount":1,"tags":[{"createdAt":"2025-08-01T13:39:16.599Z","updatedAt":"2025-08-01T13:39:16.599Z","id":"fIGQFjsiCLkWYapq","name":"PUUR3"}]}]