n8n-automations/BeatrixArias Telegram Master.json
[{"createdAt":"2025-08-01T15:08:09.173Z","updatedAt":"2025-08-01T16:49:46.374Z","id":"hitEPYpX2fV1sixT","name":"BeatrixArias Telegram Master","active":true,"isArchived":false,"nodes":[{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.text }}","rightValue":"internet","operator":{"type":"string","operation":"regex"},"id":"d84a0c7e-c20c-4cf6-9ff5-2979a422e6ac"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"14c6da2c-9646-4fac-a678-750e3344af81","leftValue":"={{ $json.message.text }}","rightValue":"youtu.be","operator":{"type":"string","operation":"regex"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"62ddd5fb-f956-4ef5-aef1-939127fe665e","leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"regex"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d578eaae-bae6-4840-9313-5e242b4c1575","leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"regex"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-512,-336],"id":"deea3314-ee59-4470-83ec-b9361a713351","name":"Switch","alwaysOutputData":false},{"parameters":{"workflowId":{"__rl":true,"value":"1UDiTB4wwgGyFqtj","mode":"list","cachedResultName":"Extractor videos idiomas + GPT"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-288,-208],"id":"5f4deff3-f527-42f6-a235-1ac56e9b44e5","name":"Youtube Workflow"},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-736,-304],"id":"4a07a209-25a1-45ee-badf-3577a0845bb4","name":"Telegram Trigger","webhookId":"cd24e08e-c222-48c5-be14-f6309237e828","credentials":{"telegramApi":{"id":"XJJYV2Z4AfbWcjLI","name":"Amy"}}},{"parameters":{"workflowId":{"__rl":true,"value":"twrR35y9OdHMJvU2","mode":"list","cachedResultName":"Check Internet + Restart router Chin"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-288,-400],"id":"fe274bb7-7ca7-4151-b093-663d98e3f110","name":"Internet"}],"connections":{"Switch":{"main":[[{"node":"Internet","type":"main","index":0}],[{"node":"Youtube Workflow","type":"main","index":0}],[],[],[]]},"Telegram Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"55a55878-7e75-47db-b72e-797d1238bce9","triggerCount":1,"tags":[{"createdAt":"2025-08-01T13:39:22.857Z","updatedAt":"2025-08-01T13:39:22.857Z","id":"hq5PYmCgXGdO3zFf","name":"Chin"}]}]