n8n-automations/Check Internet + Restart router.json
[{"createdAt":"2025-07-31T13:29:39.061Z","updatedAt":"2025-08-02T23:01:54.572Z","id":"ooIBufoE86RrhDsG","name":"Check Internet + Restart router","active":false,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"808c8b44-1f82-41c5-8a9d-fafdba503de3","leftValue":"={{ $('Ping Raspi / Tailscale').item.json.exitCode }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[304,-416],"id":"4d836670-e41f-4285-b5cb-0e1dc53afaf3","name":"If"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"aac97ff5-4b46-4472-aed3-1a311e9424cf","leftValue":"={{$json[\"message\"][\"text\"].toLowerCase().includes(\"internet\")}}\n","rightValue":"true","operator":{"type":"string","operation":"regex"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-368,-416],"id":"c0242eab-12d0-43ad-a03b-e0e12522f030","name":"Internet word trigger"},{"parameters":{"chatId":"5030150","text":"={{ $('Formatting1').item.json.text }}\n{{ $json.text }}\n","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[976,-512],"id":"4cb4aaca-6e40-46b5-a764-9d46f0082faa","name":"Confirmation","webhookId":"8144eb49-7c86-469a-91a7-7f54edbe5208","credentials":{"telegramApi":{"id":"XK9zk50ZyqQCt9D6","name":"Rocco"}}},{"parameters":{"command":"speedtest --format=json"},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[528,-512],"id":"9e9b31b3-af20-44f5-8b78-fbc192eb1e5f","name":"Execute a command","credentials":{"sshPassword":{"id":"E0q8PmIAdiK12TKt","name":"Raspi connection"}}},{"parameters":{"command":"ping -c 5 100.107.101.98"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-144,-416],"id":"cb9579dd-fa9b-49be-b9eb-96f7745065b2","name":"Ping Raspi / Tailscale"},{"parameters":{"jsCode":"const data = JSON.parse($json[\"stdout\"]);\nconst downloadMbps = (data.download.bandwidth * 8 / 1_000_000).toFixed(1);\nconst uploadMbps = (data.upload.bandwidth * 8 / 1_000_000).toFixed(1);\n\nconst message = `\n✅ *Internet Status*: Online\n🏓 *Ping*: ${data.ping.latency.toFixed(2)} ms (Jitter ${data.ping.jitter.toFixed(2)} ms)\n⬇️ *Download*: ${downloadMbps} Mbps\n⬆️ *Upload*: ${uploadMbps} Mbps\n🌐 *ISP*: ${data.isp}\n📍 *Server*: ${data.server.name} - ${data.server.location}\n\n🔗 [See full results for speedtest](${data.result.url})\n`;\n\nreturn [{ json: { text: message } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[752,-512],"id":"39fd48d0-dd5d-4117-a8be-31e7ffe60713","name":"Formatting"},{"parameters":{"jsCode":"const pingRaw = $json[\"stdout\"] || \"\";\n\n// Regex para packet loss\nconst lossMatch = pingRaw.match(/, ([0-9.]+)% packet loss/);\nconst packetLoss = lossMatch ? lossMatch[1] : \"N/A\";\n\n// Regex para latencia promedio (avg)\nconst avgMatch = pingRaw.match(/round-trip.* = .*\\/(.*?)\\//);\nconst avgLatency = avgMatch ? avgMatch[1].trim() : \"N/A\";\n\n// Mensaje formateado con emojis y bloque de código\nconst message = `\n✅ *Ping Test Completed*\nSi hay internet!\n\\`\\`\\`\n${pingRaw.trim()}\n\\`\\`\\`\n\n📊 *Resultados*:\n- 📉 *Lost packets*: ${packetLoss}%\n- ⚡ *Latency*: ${avgLatency} ms\n`;\n\nreturn [{ json: { text: message } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[80,-416],"id":"5e7a2681-49e6-4576-9194-e53e434d5a97","name":"Formatting1"},{"parameters":{"chatId":"5030150","text":"No Internet ☠️, Check si hay incidencias en: https://www.vodafone.de/stoerung/validate","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[528,-320],"id":"eb980247-6e14-43a7-a557-727cda3406f8","name":"Confirmation1","webhookId":"8144eb49-7c86-469a-91a7-7f54edbe5208","credentials":{"telegramApi":{"id":"XK9zk50ZyqQCt9D6","name":"Rocco"}}},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-592,-416],"id":"ceaacfa5-3965-403b-b90c-0366c4a5e9cf","name":"When Executed by Another Workflow"}],"connections":{"If":{"main":[[{"node":"Execute a command","type":"main","index":0}],[{"node":"Confirmation1","type":"main","index":0}]]},"Internet word trigger":{"main":[[{"node":"Ping Raspi / Tailscale","type":"main","index":0}]]},"Ping Raspi / Tailscale":{"main":[[{"node":"Formatting1","type":"main","index":0}]]},"Confirmation":{"main":[[]]},"Execute a command":{"main":[[{"node":"Formatting","type":"main","index":0}]]},"Formatting":{"main":[[{"node":"Confirmation","type":"main","index":0}]]},"Formatting1":{"main":[[{"node":"If","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Internet word trigger","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Europe/Berlin","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"587f7dc0-a0c3-4d10-8a6a-86b2c6c9e657","triggerCount":1,"tags":[{"createdAt":"2025-08-01T13:39:16.599Z","updatedAt":"2025-08-01T13:39:16.599Z","id":"fIGQFjsiCLkWYapq","name":"PUUR3"}]}]