n8n-automations/Check Internet + Restart router Chin.json
[{"createdAt":"2025-08-01T15:59:48.226Z","updatedAt":"2025-08-01T16:02:42.506Z","id":"twrR35y9OdHMJvU2","name":"Check Internet + Restart router Chin","active":false,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"808c8b44-1f82-41c5-8a9d-fafdba503de3","leftValue":"={{ $('Ping Raspi / Tailscale').item.json.exitCode }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[256,-432],"id":"a192ac99-c078-4a66-8978-d47cad9d38c3","name":"If"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"aac97ff5-4b46-4472-aed3-1a311e9424cf","leftValue":"={{$json[\"message\"][\"text\"].toLowerCase().includes(\"internet\")}}\n","rightValue":"true","operator":{"type":"string","operation":"regex"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-384,-432],"id":"dad004a6-d3aa-49fe-860d-f668b72afa2d","name":"Internet word trigger"},{"parameters":{"chatId":"5367146198","text":"={{ $('Formatting1').item.json.text }}\n{{ $json.text }}\n","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[960,-512],"id":"04934cf3-4fc0-465b-aa82-f184da1d7a4a","name":"Confirmation","webhookId":"5979883d-df5f-4401-b534-d7b712ff4fb3","credentials":{"telegramApi":{"id":"XJJYV2Z4AfbWcjLI","name":"Amy"}}},{"parameters":{"command":"speedtest --format=json"},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[512,-512],"id":"a8adb627-3ad4-4db1-a823-3523302d8ad5","name":"Execute a command","credentials":{"sshPassword":{"id":"E0q8PmIAdiK12TKt","name":"Raspi connection"}}},{"parameters":{"command":"ping -c 5 100.107.101.98"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-144,-432],"id":"9ca32910-e2c3-4fa8-b64f-0d9f73d4f85e","name":"Ping Raspi / Tailscale"},{"parameters":{"jsCode":"const data = JSON.parse($json[\"stdout\"]);\nconst downloadMbps = (data.download.bandwidth * 8 / 1_000_000).toFixed(1);\nconst uploadMbps = (data.upload.bandwidth * 8 / 1_000_000).toFixed(1);\n\nconst message = `\n✅ *Internet Status*: Online\n🏓 *Ping*: ${data.ping.latency.toFixed(2)} ms (Jitter ${data.ping.jitter.toFixed(2)} ms)\n⬇️ *Download*: ${downloadMbps} Mbps\n⬆️ *Upload*: ${uploadMbps} Mbps\n🌐 *ISP*: ${data.isp}\n📍 *Server*: ${data.server.name} - ${data.server.location}\n\n🔗 [See full results for speedtest](${data.result.url})\n`;\n\nreturn [{ json: { text: message } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[736,-512],"id":"b7703fb1-1655-497c-85a3-accc7371f67a","name":"Formatting"},{"parameters":{"jsCode":"const pingRaw = $json[\"stdout\"] || \"\";\n\n// Regex para packet loss\nconst lossMatch = pingRaw.match(/, ([0-9.]+)% packet loss/);\nconst packetLoss = lossMatch ? lossMatch[1] : \"N/A\";\n\n// Regex para latencia promedio (avg)\nconst avgMatch = pingRaw.match(/round-trip.* = .*\\/(.*?)\\//);\nconst avgLatency = avgMatch ? avgMatch[1].trim() : \"N/A\";\n\n// Mensaje formateado con emojis y bloque de código\nconst message = `\n✅ *Ping Test Completed*\nSi hay internet!\n\\`\\`\\`\n${pingRaw.trim()}\n\\`\\`\\`\n\n📊 *Resultados*:\n- 📉 *Lost packets*: ${packetLoss}%\n- ⚡ *Latency*: ${avgLatency} ms\n`;\n\nreturn [{ json: { text: message } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[64,-432],"id":"93d7bea8-4df0-4691-b45e-711a8438f7f7","name":"Formatting1"},{"parameters":{"chatId":"5367146198","text":"No Internet ☠️, Check si hay incidencias en: https://www.vodafone.de/stoerung/validate","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[512,-368],"id":"ed19f7f0-19a1-4039-819f-63dad0b7daf6","name":"Confirmation1","webhookId":"3a9679d0-94c1-421d-9524-7aa77f4edbb2","credentials":{"telegramApi":{"id":"XJJYV2Z4AfbWcjLI","name":"Amy"}}},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-592,-432],"id":"e923d8d8-d935-4b71-af60-e9c6b188c288","name":"When Executed by Another Workflow"}],"connections":{"If":{"main":[[{"node":"Execute a command","type":"main","index":0}],[{"node":"Confirmation1","type":"main","index":0}]]},"Internet word trigger":{"main":[[{"node":"Ping Raspi / Tailscale","type":"main","index":0}]]},"Ping Raspi / Tailscale":{"main":[[{"node":"Formatting1","type":"main","index":0}]]},"Confirmation":{"main":[[]]},"Execute a command":{"main":[[{"node":"Formatting","type":"main","index":0}]]},"Formatting":{"main":[[{"node":"Confirmation","type":"main","index":0}]]},"Formatting1":{"main":[[{"node":"If","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Internet word trigger","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Europe/Berlin","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5c082179-880c-45db-b011-01ed168f7845","triggerCount":1,"tags":[{"createdAt":"2025-08-01T13:39:22.857Z","updatedAt":"2025-08-01T13:39:22.857Z","id":"hq5PYmCgXGdO3zFf","name":"Chin"}]}]