n8n-automations/Extractor videos idiomas + GPT.json
[{"createdAt":"2025-08-01T13:39:47.909Z","updatedAt":"2025-08-01T17:03:34.107Z","id":"1UDiTB4wwgGyFqtj","name":"Extractor videos idiomas + GPT","active":false,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"aac97ff5-4b46-4472-aed3-1a311e9424cf","leftValue":"={{ $json.message.text }}","rightValue":"youtu.be","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1040,-512],"id":"5830d9f0-b8eb-4cc9-ab63-0d1d576ab08e","name":"Youtu trigger"},{"parameters":{"command":"=/usr/local/bin/yt-dlp --cookies /home/puur3/cookies.txt --extract-audio --audio-format mp3 -o \"/tmp/video.%(ext)s\" {{$json[\"message\"][\"text\"]}}\n","cwd":"/home/puur3"},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[-368,-512],"id":"e38ba605-2f44-4d17-89e7-165afaf6b9e3","name":"Extract AUDIO","credentials":{"sshPassword":{"id":"PMO19ZhGLQfAo19d","name":"Connection to n0v4"}}},{"parameters":{"command":"=/home/puur3/video-tools/venv/bin/whisper /tmp/video.mp3 --model tiny --output_format txt --output_dir /tmp","cwd":"/home/puur3"},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[-144,-512],"id":"0770b8ae-0f17-44c6-bfce-3117ae368117","name":"WHISPER","credentials":{"sshPassword":{"id":"PMO19ZhGLQfAo19d","name":"Connection to n0v4"}}},{"parameters":{"command":"=cat /tmp/video.txt","cwd":"/home/puur3"},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[80,-512],"id":"0182d30c-f9b0-4438-ade1-c30b17c12664","name":"CAT","credentials":{"sshPassword":{"id":"PMO19ZhGLQfAo19d","name":"Connection to n0v4"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"You are an assistant that gives aclear important summaries of the text that you are provided. All are language learning lessons, use clear order formatting, and bullet points to increase the way of learning.","role":"assistant"},{"content":"=Give a summary of this text and also a combinient title: \n {{ $json.stdout }}"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[304,-512],"id":"a5b09c91-7bfe-4a8c-aca1-934ea014b354","name":"Message a model","credentials":{"openAiApi":{"id":"L6mNiYGWKAmDLioo","name":"OpenAi account"}}},{"parameters":{"operation":"createFromText","content":"={{ $json.message.content }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1dbrrplj-I0ywF9Ary0Soqyb1yew39IVm","mode":"list","cachedResultName":"Videos Youtube","cachedResultUrl":"https://drive.google.com/drive/folders/1dbrrplj-I0ywF9Ary0Soqyb1yew39IVm"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[704,-512],"id":"2b018f24-85c5-469b-9faf-0270e4d7b79c","name":"Create file from text","credentials":{"googleDriveOAuth2Api":{"id":"8pgOGxxZW5KonzwV","name":"Google Drive account"}}},{"parameters":{"chatId":"5367146198","text":"=Texto a partir de video creado!!👌\n<b><u>{{ $json.name }}</u></b>\n-----------------------------------------\n<i>Puedes verlo aqui✨</i>\nhttps://drive.google.com/file/d/{{ $json.id }}\n","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1152,-512],"id":"c370c01f-43e0-4fd8-89d1-9ee2e09fac48","name":"Confirmation","webhookId":"659292f4-b77e-4366-85e5-e7dd9600973a","credentials":{"telegramApi":{"id":"XJJYV2Z4AfbWcjLI","name":"Amy"}}},{"parameters":{"command":"=rm /tmp/video.mp3 /tmp/video.txt","cwd":"/home/puur3"},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[1376,-512],"id":"db7c6c3c-be44-4b54-9f9c-50a635d0f758","name":"RM files","credentials":{"sshPassword":{"id":"PMO19ZhGLQfAo19d","name":"Connection to n0v4"}}},{"parameters":{"operation":"update","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"newUpdatedFileName":"={{ $('Message a model').item.json.message.content.match(/\\*\\*Title:\\*\\*\\s*(.*?)\\s*\\*\\*Summary:/s)?.[1] }}\n","options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[928,-512],"id":"5577d33d-c6b1-4911-a152-3c23986c904b","name":"Update Tittle","credentials":{"googleDriveOAuth2Api":{"id":"8pgOGxxZW5KonzwV","name":"Google Drive account"}}},{"parameters":{"chatId":"5367146198","text":"Vaya! algo ha fallado 😢|Intenta cerciorarte que la URL es \"youtu.be\"🙂\nSi no, Contacta a pony para que eche un vistazo✨ Seguro estará encantado de ayudarte ❤️","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-816,-288],"id":"79f4d5b5-ca1f-45a3-b2f6-87f0e64c6761","name":"Fail Message1","webhookId":"8144eb49-7c86-469a-91a7-7f54edbe5208","credentials":{"telegramApi":{"id":"XJJYV2Z4AfbWcjLI","name":"Amy"}}},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1264,-512],"id":"5c8cecc1-50ee-4e8a-80e7-7a47d9733c47","name":"When Executed by Another Workflow"},{"parameters":{"chatId":"5367146198","text":"=El video se esta descargando, por favor espera unos 10 minutos 🙂\n","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-816,-576],"id":"20a86f20-317e-4783-a5ab-ef6f36bf71af","name":"Funciona","webhookId":"659292f4-b77e-4366-85e5-e7dd9600973a","credentials":{"telegramApi":{"id":"XJJYV2Z4AfbWcjLI","name":"Amy"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-592,-512],"id":"bb8a7f83-ac82-42d5-939d-ce9b8595c1a2","name":"Merge"},{"parameters":{"command":"=rm /tmp/video.mp3 /tmp/video.txt","cwd":"/home/puur3"},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[-816,-768],"id":"3566763d-e4e3-4fc3-ab51-cfa0f615d782","name":"Clean before","credentials":{"sshPassword":{"id":"PMO19ZhGLQfAo19d","name":"Connection to n0v4"}}}],"connections":{"Youtu trigger":{"main":[[{"node":"Funciona","type":"main","index":0},{"node":"Merge","type":"main","index":1},{"node":"Clean before","type":"main","index":0}],[{"node":"Fail Message1","type":"main","index":0}]]},"Extract AUDIO":{"main":[[{"node":"WHISPER","type":"main","index":0}]]},"WHISPER":{"main":[[{"node":"CAT","type":"main","index":0}]]},"CAT":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"Create file from text","type":"main","index":0}]]},"Create file from text":{"main":[[{"node":"Update Tittle","type":"main","index":0}]]},"RM files":{"main":[[]]},"Update Tittle":{"main":[[{"node":"Confirmation","type":"main","index":0}]]},"Confirmation":{"main":[[{"node":"RM files","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Youtu trigger","type":"main","index":0}]]},"Funciona":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Extract AUDIO","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d3f0afe3-5bf1-4510-8a29-f3652758888a","triggerCount":1,"tags":[{"createdAt":"2025-08-01T13:39:22.857Z","updatedAt":"2025-08-01T13:39:22.857Z","id":"hq5PYmCgXGdO3zFf","name":"Chin"}]}]