n8n-automations/Extractor videos youtube + GPT.json
[{"createdAt":"2025-08-01T09:18:20.360Z","updatedAt":"2025-08-08T07:21:10.261Z","id":"MuepTnugKkMWLUGe","name":"Extractor videos youtube + GPT","active":false,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"aac97ff5-4b46-4472-aed3-1a311e9424cf","leftValue":"={{ $json.message.text }}\n","rightValue":"youtu.be","operator":{"type":"string","operation":"contains"}},{"id":"4ef51299-6f21-4f7f-afec-ef43bbc1d13e","leftValue":"={{ $json.message.text }}","rightValue":"youtube","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1024,-224],"id":"1ad24b8c-e911-4424-bc96-44d169ba18c4","name":"Youtu trigger"},{"parameters":{"command":"=/usr/local/bin/yt-dlp --cookies /home/puur3/cookies.txt --extract-audio --audio-format mp3 -o \"/tmp/video.%(ext)s\" {{ $json.message.text }}","cwd":"/home/puur3"},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[-800,-320],"id":"edc41116-141c-4b84-bcf5-3a6b61290716","name":"Extract AUDIO","credentials":{"sshPassword":{"id":"PMO19ZhGLQfAo19d","name":"Connection to n0v4"}}},{"parameters":{"command":"=/home/puur3/video-tools/venv/bin/whisper /tmp/video.mp3 --model tiny --output_format txt --output_dir /tmp","cwd":"/home/puur3"},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[-576,-320],"id":"fe8a0e0a-4925-4a87-bf02-69866438f975","name":"WHISPER","credentials":{"sshPassword":{"id":"PMO19ZhGLQfAo19d","name":"Connection to n0v4"}}},{"parameters":{"command":"=cat /tmp/video.txt","cwd":"/home/puur3"},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[-352,-320],"id":"3e701640-1bce-4e7b-8d2f-1c3f691d86a9","name":"CAT","credentials":{"sshPassword":{"id":"PMO19ZhGLQfAo19d","name":"Connection to n0v4"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"You are an assistant that gives a clear important summaries of the text that you are provided. All are extracted from youtube videos, so take that in count, in case there is interviews etc.","role":"assistant"},{"content":"=Give a summary of this text and also a combinient title: \n {{ $json.stdout }}"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-128,-320],"id":"13a3f8ec-3c2c-4c73-9dd6-24a9639d6cd8","name":"Message a model","credentials":{"openAiApi":{"id":"L6mNiYGWKAmDLioo","name":"OpenAi account"}}},{"parameters":{"operation":"createFromText","content":"={{ $json.message.content }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1-BL3lQnl3PeGeJfTMrQTYFYGB6qRX-Zg","mode":"list","cachedResultName":"YT Summaries","cachedResultUrl":"https://drive.google.com/drive/folders/1-BL3lQnl3PeGeJfTMrQTYFYGB6qRX-Zg"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[272,-320],"id":"7b787b9c-052c-4c51-8f9d-4aef31aa23ba","name":"Create file from text","credentials":{"googleDriveOAuth2Api":{"id":"8pgOGxxZW5KonzwV","name":"Google Drive account"}}},{"parameters":{"chatId":"5030150","text":"=Texto a partir de video creado!!👌\n<b><u>{{ $json.name }}</u></b>\n-----------------------------------------\n<i>Puedes verlo aqui✨</i>\nhttps://drive.google.com/file/d/{{ $json.id }}\n","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[720,-320],"id":"c4e8cec0-1b2b-4475-834f-e107575a30f4","name":"Confirmation","webhookId":"8144eb49-7c86-469a-91a7-7f54edbe5208","credentials":{"telegramApi":{"id":"XK9zk50ZyqQCt9D6","name":"Rocco"}}},{"parameters":{"command":"=rm /tmp/video.mp3 /tmp/video.txt","cwd":"/home/puur3"},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[944,-320],"id":"1da5cf82-5413-4410-8da3-559bddddef5c","name":"RM files","credentials":{"sshPassword":{"id":"PMO19ZhGLQfAo19d","name":"Connection to n0v4"}}},{"parameters":{"chatId":"5030150","text":"Vaya! algo ha fallado 😢|Intenta cerciorarte que la URL es \"youtu.be\"🙂\nSi no, Contacta a pony para que eche un vistazo✨ Seguro estará encantado de ayudarte ❤️","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-800,-128],"id":"e298ff00-f89f-44bd-a56d-10cf6495d28d","name":"Fail Message","webhookId":"8144eb49-7c86-469a-91a7-7f54edbe5208","credentials":{"telegramApi":{"id":"XK9zk50ZyqQCt9D6","name":"Rocco"}}},{"parameters":{"operation":"update","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"newUpdatedFileName":"={{ $('Message a model').item.json.message.content.match(/\\*\\*Title:\\*\\*\\s*(.*?)\\s*\\*\\*Summary:/s)?.[1] }}\n","options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[496,-320],"id":"a9410e94-c814-4854-be73-d79d56d71401","name":"Update Tittle","credentials":{"googleDriveOAuth2Api":{"id":"8pgOGxxZW5KonzwV","name":"Google Drive account"}}},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1248,-224],"id":"9d0fc614-d6e6-4af1-9c87-86e69578af95","name":"When Executed by Another Workflow"}],"connections":{"Youtu trigger":{"main":[[{"node":"Extract AUDIO","type":"main","index":0}],[{"node":"Fail Message","type":"main","index":0}]]},"Extract AUDIO":{"main":[[{"node":"WHISPER","type":"main","index":0}]]},"WHISPER":{"main":[[{"node":"CAT","type":"main","index":0}]]},"CAT":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"Create file from text","type":"main","index":0}]]},"Create file from text":{"main":[[{"node":"Update Tittle","type":"main","index":0}]]},"RM files":{"main":[[]]},"Fail Message":{"main":[[]]},"Update Tittle":{"main":[[{"node":"Confirmation","type":"main","index":0}]]},"Confirmation":{"main":[[{"node":"RM files","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Youtu trigger","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8d4535e4-8ddb-44a2-9f1e-53726d46975a","triggerCount":1,"tags":[{"createdAt":"2025-08-01T13:39:16.599Z","updatedAt":"2025-08-01T13:39:16.599Z","id":"fIGQFjsiCLkWYapq","name":"PUUR3"}]}]