n8n-automations/PUUR3 Telegram Master.json
[{"createdAt":"2025-08-01T14:45:26.673Z","updatedAt":"2025-08-01T16:31:17.618Z","id":"YneysQgFXtHEozH0","name":"PUUR3 Telegram Master","active":true,"isArchived":false,"nodes":[{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.text }}","rightValue":"internet","operator":{"type":"string","operation":"regex"},"id":"d84a0c7e-c20c-4cf6-9ff5-2979a422e6ac"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"14c6da2c-9646-4fac-a678-750e3344af81","leftValue":"={{ $json.message.text }}","rightValue":"youtu.be","operator":{"type":"string","operation":"regex"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"62ddd5fb-f956-4ef5-aef1-939127fe665e","leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"regex"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d578eaae-bae6-4840-9313-5e242b4c1575","leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"regex"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-224,-128],"id":"754d03af-c0f6-48f3-88ea-35cade6c5ef6","name":"Switch","alwaysOutputData":false},{"parameters":{"workflowId":{"__rl":true,"value":"MuepTnugKkMWLUGe","mode":"list","cachedResultName":"Extractor videos youtube + GPT"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[0,0],"id":"a73393c2-be4c-4425-92c0-c9ea84b5f85f","name":"Youtube Workflow"},{"parameters":{"workflowId":{"__rl":true,"value":"ooIBufoE86RrhDsG","mode":"list","cachedResultName":"Check Internet + Restart router"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[0,-192],"id":"aa7a2e14-cdcf-4c67-9e46-43b5eb6001b7","name":"Internet Check"},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-448,-96],"id":"68785d63-703b-4b35-a7a0-4a8050dfd4f7","name":"Telegram Trigger","webhookId":"afedf016-a3cf-4f21-8cdb-93fbe691b22e","credentials":{"telegramApi":{"id":"XK9zk50ZyqQCt9D6","name":"Rocco"}}}],"connections":{"Switch":{"main":[[{"node":"Internet Check","type":"main","index":0}],[{"node":"Youtube Workflow","type":"main","index":0}],[],[],[]]},"Telegram Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"57f7db17-f817-4f0f-8457-0623388882e2","triggerCount":1,"tags":[{"createdAt":"2025-08-01T13:39:16.599Z","updatedAt":"2025-08-01T13:39:16.599Z","id":"fIGQFjsiCLkWYapq","name":"PUUR3"}]}]