n8n-automations/Telegram Master PUUR3.json
[{"createdAt":"2025-08-01T14:27:20.777Z","updatedAt":"2025-08-01T14:44:52.123Z","id":"lXuW4SBoJr04u1L1","name":"Telegram Master PUUR3","active":false,"isArchived":true,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-752,-512],"id":"7351cc1d-d49e-48e7-8c8b-4b8a9f559157","name":"Telegram Trigger","webhookId":"59d7a4df-d2a5-4418-aca9-c334c3ab72e2","credentials":{"telegramApi":{"id":"XK9zk50ZyqQCt9D6","name":"Rocco"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.text }}","rightValue":"youtu.be","operator":{"type":"string","operation":"equals"},"id":"48d2b23e-1a05-4aa2-a4e6-fe01cdb8150c"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e115c0fd-b971-4cc5-8626-32efe45f7017","leftValue":"={{ $json.message.text }}","rightValue":"internet","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-528,-512],"id":"1e7eea9c-ad33-4e2d-82f6-3c3c410058ca","name":"Switch"},{"parameters":{"workflowId":{"__rl":true,"value":"MuepTnugKkMWLUGe","mode":"list","cachedResultName":"Extractor videos youtube + GPT"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-304,-608],"id":"d7b4fde8-ed92-4622-816f-9fe75261a8d5","name":"Youtube Workflow"},{"parameters":{"workflowId":{"__rl":true,"value":"ooIBufoE86RrhDsG","mode":"list","cachedResultName":"Check Internet + Restart router"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-304,-416],"id":"bf5344b9-4810-495c-a496-a37e8b6f605d","name":"Execute Workflow"}],"connections":{"Telegram Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Youtube Workflow","type":"main","index":0}],[{"node":"Execute Workflow","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Europe/Berlin","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"357f647c-f332-4919-a1d8-7ab9e8511e6c","triggerCount":1,"tags":[{"createdAt":"2025-08-01T13:39:16.599Z","updatedAt":"2025-08-01T13:39:16.599Z","id":"fIGQFjsiCLkWYapq","name":"PUUR3"}]}]